.env
.gradle
build/
## Behold .jar filene
!build/libs/
!build/libs/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.java-version

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### I banish you to never return DS_Store! ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
